[Desktop Entry]
Name=Input Method
Comment=Configure Input Method

Icon=fcitx
Type=Service
X-KDE-PluginInfo-Author=Weng Xuetian
X-KDE-PluginInfo-Email=fcitx-dev@googlegroups.com.
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kcm_fcitx5
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Generic
X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/main.qml

