[Desktop Entry]
Exec=kbd-layout-viewer
Icon=input-keyboard
Type=Application

Name=Keyboard layout viewer
Name[zh_CN]=键盘布局查看器
Comment=查看键盘布局
Comment[zh_CN]=查看键盘布局

X-KDE-Keywords=keyboard;input;im
X-KDE-Keywords[zh_CN]=keyboard;input;im;输入法;键盘;输入

Categories=Qt;KDE;Utility
