[Desktop Entry]
Exec=kcmshell4 kcm_fcitx
Icon=fcitx
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_fcitx
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=locale

Name=Input Method
Name[zh_CN]=输入法
Comment=Configure Input Method
Comment[zh_CN]=配置输入法

X-KDE-Keywords=keyboard,input,im,fcitx
X-KDE-Keywords[zh_CN]=keyboard,input,im,fcitx,输入法,小企鹅,键盘,输入

Categories=Qt;KDE;X-KDE-settings-looknfeel;
